
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding: 15px;
  }
  
  .dashboard {
    display: flex;
  }
  
  
  .sidebar {
    width: 250px;
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 2}
    recent users{
        display: flex;
        flex-direction: row;
        
    }
    image{
        display: flex;
        flex-direction: row;
        fo
    }






    